#logoutBtn {
  position: fixed;
  top: 10%;
  left: 0;
  color: white;
  background-color: white;
  width: 1%;
  height: 80%;
  background-color: blue;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  z-index: 1000;
}
#title {
  font-size: 3rem;
  padding: 3rem 0 0;
  color: white;
  text-align: center;
}
.login-container {
  background-color: #0088cc;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  margin: 4rem 2rem;
  padding: 1rem 4rem;
  border: 1px solid transparent;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
#login-text {
  font-size: 1rem;
  color: white;
}
#login-title {
  font-size: 2.5rem;
  padding: 1rem 0;
  color: white;
  font-weight: bold;
  font-style: italic;
}
.submit-button {
  width: 30%;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid transparent;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  cursor: pointer;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}
.submit-button:hover {
  transform: translateY(-1rem);
  -webkit-transform: translateY(-1rem);
  -moz-transform: translateY(-1rem);
  -ms-transform: translateY(-1rem);
  -o-transform: translateY(-1rem);
}
